<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <table style="border: solid 2px grey; width:80%; margin: 0 auto;">
	    <thead style="background-color:#EDEFF3; font-size:20px; font-weight:bold;">
	    	<tr>
	    		<td colspan="2">Traveler Information</td>
	    	</tr>
	    </thead>
	    <tbody>	 
	    	<tr style="background-color:#EDEFF3;font-color:">
	    		<td colspan="2">Travelers names, loyalty programs, and ticket type</td>
	    	</tr>   	
	      	<div th:replace="frg-flightConfirmation-traveler ::fc-travelers (travelers=${reservation_response.traveller_info.adults})"></div>
	      	<div th:replace="frg-flightConfirmation-traveler ::fc-travelers (travelers=${reservation_response.traveller_info.children})"></div>
	      	<div th:replace="frg-flightConfirmation-traveler ::fc-travelers (travelers=${reservation_response.traveller_info.infants})"></div>
	    </tbody>
    </table>
    <table style="border: solid 2px grey; width:80%; margin: 0 auto;">
    	 <thead>
	    	<tr style="background-color:#EDEFF3; font-size:20px; font-weight:bold;">
	    		<td colspan="2">Flight itinerary</td>
	    	</tr>
	    </thead>
	    <tbody>
	    	<tr>
	    		<td colspan="2">
	    			Record locator
	    			<span th:text="${reservation_response.booking_id}"></span>
	    		</td>	
	    	</tr>
	    </tbody>
    </table>
   	<div th:replace="frg-flightConfirmation-segment ::fc-segments (bound=${reservation_response.outbound})"></div>
   	<div th:if="${reservation_response.inbound}">
    	<div th:replace="frg-flightConfirmation-segment ::fc-segments (bound=${reservation_response.inbound})"></div>
  	</div>
    <table style="border: solid 2px grey; width:80%; margin: 0 auto;">
     	<thead>
	    	<tr style="background-color:#EDEFF3; font-size:20px; font-weight:bold;">
	    		<td colspan="2">Cost and billing summary</td>
	    	</tr>
	    </thead>
    	<tbody th:object="${reservation_response}"> 	
	    	<tr>
	    		<td th:text="'Adults: '+ *{number_adults}"></td>
	    		<td></td>
	    	</tr>
	    	<tr>
	    		<td th:text="'Children: '+ *{number_children}"></td>
	    		<td></td>
	    	</tr>
	    	<tr>
	    		<td th:text="'Infants: '+ *{number_infants}"></td>
	    		<td></td>
	    	</tr>
	    	<tr>
	    		<td>Airline taxes and fees</td>
	    		<td></td>
	    	</tr>
	    	<tr>
	    		<td>Total due at booking</td>
	    		<td th:text="*{total_price}"></td>
	    	</tr>
	    	<tr th:if="*{rules}">
	    		<td>Fare rules</td>
	    		<td>
	    			<p th:each="rule : *{rules}" th:text="${rule}"></p>
	    		</td>	
	    	</tr>
	  </tbody>
    </table>
    <table style="border: solid 2px grey; width:80%; margin: 0 auto;">
    	<thead>
    		<tr style="font-size:20px; font-weight:bold;">
    			<td colspan="2">Billing information</td>
    		</tr>
    	</thead>
    	<tbody th:object="${reservation_response.payment_info}">
	    	<tr>
	    		<td>Payment type</td>
	    		<td th:text="*{paymentType}"></td>
	    	</tr>
			<tr>
    			<td>Billing address</td>
    			<td>
    				<p th:text="*{billingInfo.addressLine1}"></p>
    				<p th:text="*{billingInfo.city} + ' (' + *{billingInfo.zipCode} + ')'"></p>
    				<p th:text="*{billingInfo.state}"></p>
    			</td>
    		</tr>
    	</tbody>
    </table>
</body>
</html>