<div th:fragment="fc-travelers(travelers)">
<tr  th:each="traveler : ${travelers}">
	<td>
		<table>
	  		<tr>
	      		<td><b>Traveler</b></td>
	        	<td th:text="${traveler.firstName}+' '+${traveler.lastName}"></td>
	      	</tr>
	      	 <tr>
			   	<td><b>Airline ticket number</b></td>
			    <td th:text="${traveler.ticketNumber}"></td>
			 </tr>
			 <tr>
			   	<td><b>Primary phone number</b></td>
			    <td th:text="${traveler.phone}"></td>
			 </tr>
			 <tr>
			   	<td><b>Seat preference</b></td>
			    <td></td>
			 </tr>
			 <tr  th:each="spRq :${traveler.specialRequests}">
				 <td><b th:text="${spRq.key}"></b></td>
			     <td th:text="${spRq.value}"></td>
			 </tr>
   		</table>
   	</td>
</tr>
</div>