<div th:fragment="fc-segments(bound)">
	<table th:each="segment : ${bound}" style="border: solid 2px grey; width:80%; margin: 0 auto;">
	    <tr style="font-weight:bold; background-color:#EDEFF3">
	    	<td>Leave</td>
	        <td th:text="${segment.departure_date}"></td>
	        <td colspan="2" th:text="${segment.flight_time} + ' Total time'"></td>
	    </tr>
	    <div th:if="${segment.flight_no} !='Many'">
		    <tr>
		    	<td style="width:10%">Depart</td>
		    	<td th:text="${segment.departure_city}" style="font-weight:bold;width:60%"></td>
		    	<td rowspan="2" style="width:30%">
		    		<div th:text="${segment.airline_name} + ' ' + ${segment.flight_no}"></div>
		    		<div th:text="${segment.cabin} + ' | ' + ${segment.equipment} "></div>
		    		<div th:text="${segment.distance} + ' mi | '+ ${segment.flight_time} + ' min'"></div>
		    	</td>
		    </tr>
		    <tr>
		    	<td th:text="${segment.departure_time}"></td>
		    	<td th:text="${segment.departure_city} + '( '+ ${segment.departure_airport}+ ') | Terminal ' + ${segment.departure_terminal}"></td>
		    </tr>
	    </div>
	   	<div th:unless="${segment.flight_no} !='Many'">
	    <tr>
	    	<td colspan="3">
			    <table th:each="connection : ${segment.connections}" style="width:100%">
			    	<tr>
			    		<td th:if="${connection.stop}" th:text="'Stop ' + ${connection.stop}" style="width:10%"></td>
		    			<td th:unless="${connection.stop}">Depart</td>
			        	<td th:text="${connection.departure_city}" style="font-weight:bold; width:60%"></td>
				        <td th:if="${connection.flightDetailsOn}" rowspan="2" style="width:60%">
					    		<div th:text="${connection.airline_name} + ' ' + ${connection.flight_no}"></div>
					    		<div th:text="${connection.cabin} + ' | ' + ${connection.equipment} "></div>
					    		<div th:text="${connection.distance} + ' mi | '+ ${connection.flight_time} + ' min'"></div>
					    </td>
					    <td th:unless="${connection.flightDetailsOn}" rowspan="2"></td>
			    	</tr> 
			        <tr>
			        	<td th:text="${connection.departure_time}" style="width:10%"></td>
			        	<td th:text="${connection.departure_city}+' ('+ ${connection.departure_airport} + ') | Terminal ' + ${connection.departure_terminal}" style="width=60%"></td>
			       </tr> 	
			    </table>	
	    	</td>
	    </tr>
		</div>
	</table>
</div>	